{% extends 'store/main.html' %} 
{% load static %} 
{% block content %}
<div class="container-nosotros">
    <h1 class="titulo-nosotros">Bienvenidos a Rutilo</h1>
    <h2 class="subtitulo">La Joyería de Tus Sueños</h2>
    <div class="image-container">
        <img src="{% static 'images/2_new.png' %}" alt="Logo" class="imagen">
    </div>
    <p class="parrafo">En Rutilo, nos dedicamos a ofrecer las piezas de joyería más exquisitas y elegantes del mercado. Nuestra pasión por las joyas se refleja en cada una de nuestras creaciones, diseñadas para resaltar la belleza y el estilo de quienes las llevan.</p>
    <p class="parrafo">Desde nuestros inicios, hemos trabajado con los mejores materiales y artesanos para asegurarnos de que cada joya sea una obra de arte. Nuestro compromiso con la calidad y la satisfacción del cliente nos ha convertido en una de las joyerías más respetadas del sector.</p>
    <p class="parrafo">Ya sea que estés buscando el anillo de compromiso perfecto, un regalo especial o una pieza para ti, en Rutilo encontrarás exactamente lo que necesitas. Visítanos y descubre la elegancia y el lujo en cada detalle.</p>
</div>
{% endblock content %}