<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Contacto</h3>
            <p>Dirección: 123 Calle Sushi, Ciudad Sushi</p>
            <p>Teléfono: +123 456 7890</p>
            <p>Email: info@sushishop.com</p>
        </div>
        <div class="footer-column">
            <h3>Horario</h3>
            <p>Lunes a Viernes: 11:00am - 9:00pm</p>
            <p>Sábado y Domingo: 12:00pm - 10:00pm</p>
        </div>
        <div class="footer-column">
            <div class="iconos">
                <h3>Síguenos</h3>
                <ul class="social-links">
                    <li ><a href="#"><img id="insta" src="../images/face.png" alt="Facebook"></a></li>
                    <li ><a href="#"><img id="face" src="../images/ig.png" alt="Instagram"></a></li>
                    <li ><a href="#"><img id="what" src="../images/what.png" alt="Twitter"></a></li>
                </ul>
            </div>
            
        </div>
    </div>
</footer>